/* detail.css */
main {
    /* margin-top: 70px; */
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    background-size: 100%;
    padding-bottom: 100px;
  }

  #info-header {
    height: 97px;
    /* outline: 1px solid red; */
  }

  #info-header #age {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 33px;
    font-weight: 700;
  }

  #info-header #title {
    /* outline: 1px solid red; */
    font-size: 20px;
    padding-left: 10px;
    font-weight: 700;
  }

  figure img {
    padding-top: 23px;
    /* outline: 1px solid red; */
    width: 100%;
    /* height: 258px; */
    /* display: flex; */
    /* background-color: #ccc; */
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* outline: 1px solid red; */
    margin-top: 30px;
    height: 31px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
  }

  .buttons a {
    padding: 8px 36px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: #fff;
  }

  .buttons #point-btn {
    outline: 1px solid var(--point-color);
   }

  .buttons #basic-btn {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
  }

  .icon-btns {
    /* outline: 1px solid red; */
    height: 47px;
    width: 100%;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }

  .icon-btns a {
    color: #000;
  }

  #iconBtns-text{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .text1{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .text2{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .text3{
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  .company {
    /* margin-top: 60px; */
    /* margin-left: 22px; */
    display: flex;
    justify-content: center;
  }

  .company img{
    margin-top: 60px;
    /* margin-left: 22px; */
    width: 50%;
  }
  
  hr {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: var(--point-color);
    height: 3px;
  }