/* review.css */
.review {
    /* outline: 1px solid red; */
    margin-top: 40px;
    padding-left: 35px;
    font-weight: 700;
    font-size: 12px;
  }

  #review_align {
    display: flex;
  }

  .stars {
    margin-right: 20px;
  }

  .review-line {
    font-weight: 700;
  }

.stars span {
  color: var(--point-color);
}