@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');
@import url('movie.css');
@import url('movie.css');

:root {
    --point-color: #907137;
    --bg-color: #000;
    --text-color: #000; 
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 500px;
  }

#main-header {
    top: 0;
    /* position: absolute; */
    width: 100%;
    height: var(--header-hight);
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid greenyellow; */
    z-index:10;
}

#logo a img{
    padding-top: 10px;
}

#gnb a, #gnb button{
    color: #fff;
    border-style: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 1em;
}

.bi{
    text-align: center;
    font-size: 24px;
}

.bi-search{
    font-size: 22px;
}

.bi-list {
    font-size: 32px;
  }
  
#gnb {
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: #fff;
}

/* main-footer */
#main-footer {
  position: relative;
  background-color: var(--main-color);
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

#main-footer a {
  color: #fff;
}

#main-footer .sns-link {
  margin-bottom: 20px;
  font-size: 24px;
  align-items: center;
}

#main-footer .sns-link a {
  margin-right: 1rem;
}
#main-footer .sns-link img{
  /* position: absolute; */
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
}

#main-footer .sns-link a:last-child {
  margin-right: 0;
}

#main-footer .footer-menu {
  font-size: 10px;
  margin-bottom: 5px;
}

#main-footer .footer-menu strong {
  font-weight: 500;
}

#main-footer .footer-menu span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
  color: #fff;
}

#main-footer .copy{
  font-style: normal;
  font-weight: 350;
  font-size: 10px;
  line-height: 14px;
  color: #CCCCCC;
}


/* 현진언니css */
.swiper{
  display: flex;
  flex-wrap: wrap;
}

.swiper-slide img{ 
  width: 100%; 
  z-index:1;
  /* object-fit: cover; */
}

/* main p {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
} */

/* 소시지버튼 */

.btn-small {
  background-color: #907137;
  color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

.category-menu{
  display: flex;
  flex-wrap: nowrap;
  /* outline: 1px solid #ccc; */
  padding-left: 20px;
  overflow: scroll;
  margin-top: 20px;
}

.category-menu a{
  white-space: nowrap;
  margin-right: 5px;
}

/* main-img */
.main_img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}   
.main_img01, .main_img02, .main_img03{
  width: 100px;
}

/* home=card  */
.container{
position: relative;
  width: 100%;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
/* .home-card{
  flex-wrap: wrap;
  gap: 40px 10px;
} */
.home-card .box{
  /* width: 200px;
  height: 100%;
  padding-right: 15px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  /* width: calc(50% - 10px); */
  
  width: 50%;
  /* padding-top: 30%; */
  float: left;
  box-sizing: border-box;
  /* margin-bottom: 5%; */
}

.home-card .box img{
  width: 100%;
  display: block;
  padding-top: 15px;
}

.box1{
padding-right: 15px;
}

.box2{
padding-left: 15px;
}


/* youtube - NEW & HOT */

.youtube{
margin-left: 20px;
margin-top: 24px;
font-weight: normal;
font-size: 11px;
}

.youtube h2 {
/* outline: 1px solid red; */
margin-bottom: 20px;
font-style: normal;
font-weight:400;
font-size: 12px;
line-height: 16px;
}

.new-menu{
margin-bottom: 50px;
}

/* 메뉴 */
#gnb-menu {
  /* display: none; */
  background-color: #000;
  position: fixed;
  width: 85%;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition-duration: 0.4s;
  z-index: 999;
}

#gnb-menu.on {
  transform: translateX(0%);
}

#gnb-menu ul {
  position: absolute;
  width: 100%;
  top: 51px;
  font-size: 16px;
  color: #000;
}

#gnb-menu ul li {
  border-bottom: 1px solid rgba(255,255,255,0.5);  
}
#gnb-menu ul li span{
  margin-right: 5px;
}
#gnb-menu ul li a {
  color: #fff;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
#gnb-menu .bold{
  font-weight: 700;
}

#btn-close {
  position: absolute;
  right: 15px;
  top: 15px;

  width: 32px;
  height: 32px;
  font-size: 18.67px;
  background-color: transparent;
  border-style: none;
  /* outline: 1px solid red; */
}

.bi-x {
  font-size: 32px;
  color: #fff;
}


/* 검색 UI(모달) */
.search-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  outline: 1px solid #fff;
  left: 0; 
  top: var(--header-height);
  padding: 26px 18px 59px;
  transition-duration: 0.4s;
  z-index: 999;
  display: none;
}

.on {
  display: block;
  transform: translateX(0%);
}

.search-box .bi {
  font-size: 15px;
}

.search-box-container {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: start;
  width: 76%;
  margin-left: 18px;
}

.search-box #search {
  flex: 1;
  background-color: transparent;
  border-style: none;
  padding: 6px 10px;
  color: #fff;
}

#submit {
  background-color: transparent;
  color: #fff;
  border-style: none;
  padding: 6px 10px;
}

.search-box .button-group .btn-close {
  background-color: transparent;
  color: #b4b4b4;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  border-style: none;
  /* border: 1px solid white; */
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-right: 5px;
}

/* 영화-추천 */
.favorite {
  color: #fff;
  margin-top: 19px;
  margin-left: 18px;
  margin-bottom: 25px;
  display: flex;
}

.fav-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fav1 {
  margin-left: 18px;
  flex-wrap: wrap;
  display: flex;
  width: 40%;
}

.fav2 {
  margin-right: 18px;
  flex-wrap: wrap;
  display: flex;
  width: 40%;
}

.fav-contents img {
  width: 100%;;
}

.fav-contents a {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}

/* footer */
#main-footer {
  /* position: relative; */
  clear: both;
  background-color: var(--main-color);
  text-align: center;
  width: 100%;
  height: 98px;
  margin-top: 15px;
}

#main-footer a {
  color: #fff;
}

#main-footer .sns-link {
  margin-bottom: 20px;
  font-size: 24px;
}

#main-footer .sns-link a {
  margin-right: 1rem;
}
#main-footer .sns-link img{
  width: 24px;
  height: 24px;
  margin-bottom: -2px;

}

#main-footer .sns-link a:last-child {
  margin-right: 0;
}

#main-footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5px;
}

#main-footer .footer-menu strong {
  font-weight: 500;
}

#main-footer .footer-menu span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
  color: #fff;
}

#main-footer .copy{
  font-style: normal;
  font-weight: 350;
  font-size: 10px;
  line-height: 14px;
  color: #CCCCCC;
}
